// Define variables for your color scheme
// goat story color palette
$white: #F2F2F2;
$beige: #D9CAAD;
$light-brow: #A68660;
$brown: #75323F;
$dark-brown: #402D22;
$green: #1B8576;
$red: #852928;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
