<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></i> </a>
    <a href="#"><i class="fa-regular fa-address-card"></i></a>
    <a href="#"><i class="fa-solid fa-scale-balanced"></i></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
