<h1>votre profil: <br> <strong><%= current_user.first_name%> <%= current_user.last_name%></strong></h1>



<%# adress %>
<%# description %>
<%# bouton "edit my profil" %>

<%# ajouter une chevre %>
<%# afficher les chevres %>
