.footer {
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 50px;
  padding: 0px 50px;
  color: #402D22;
  align-items: center;
}
.footer-links {
  display: flex;
  justify-content: center;
  color: #402D22;
}
.footer-links a {
  color: #402D22;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #73523F;
}
