.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #D9CAAD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#font_link {
  color: white;
  font-style: strong;
  font-family: "Nunito", "Helvetica", "sans-serif";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
