<h1>goats</h1>
  <div>
  <ul>
    <% @goats.each do |goat| %>
    <li>
     <p> <%= goat.name %> </p>
     <p><%= goat.race %></p>
     <p><%= goat.description %></p>
     <%= link_to "Affiche cette chèvre", goat %>
      </li>
    <% end %>
    </ul>
  </div>
