<h1 class="display-4 text-center my-4">Chèvre</h1>
<div class="container">
  <ul class="list-group">
    <% @goats.each do |goat| %>
      <li class="list-group-item">
        <h5 class="mb-1"><%= goat.name %></h5>
        <p class="mb-1"><%= goat.race %></p>
        <p class="mb-1"><%= goat.description %></p>
        <%= link_to "Affiche cette chèvre", goat, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>
